.Order {
   margin: 10px auto;
   width: 80%;
   box-shadow: 0 2px 3px #ccc;
   border: 1px solid #eee;
   padding: 10px;
   box-sizing: border-box;
}

@media (min-width: 1000px) and (min-height: 600px) {
   .Order {
      background-color: white;
   }

}